.App {
 text-align: center;
 background-color: black;
}
.cart{ 
  margin: auto;
  width: 200px;
  height: 300px;
  border: black 2px solid;
  background-color: gray;
  border-radius: 10px;
}
.test1{
  margin: auto;
  
}
.title{
  padding: 10px;
}
.test2{
  display: flex;
  flex-direction: row;
  margin: auto;
  
}
.test3{
  padding-top: 10px ;
  margin: auto;
  text-align: center;
}
.test4{
  transition: box-shadow .3s;
}
.test4 :hover{
  color: blue;
  background-color: forestgreen;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.test5{
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.test6{
  background-color: black;
}
.test7{
  color: darkgoldenrod;
}
